*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-complaint{
    border: 2px solid black;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    
  
}
.complaint-form{
    form{
        display: flex;
        flex-direction: column;
        gap: 40px;
        
    }

}
.issue_description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    label{
        font-size: 12px;
        font-family: sans-serif;
        font-weight: 600;
    }
    textarea{
        height: 100px;
        border-radius: 6px;
        
         padding: 10px;

       
        
    }
    textarea:focus{
        outline-color: blue;
    }
}