footer{
   
    background-color:rgb(16, 3, 77);
    margin-top: 50px;
}
.content-1{
    display: flex;
    flex-direction:row;
    gap: 100px;
    padding-top: 30px;
    padding:  30px 250px 0  ;
    padding-right: 250px;
    padding-bottom: 20px;

}
.home-title2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    p{
        color:white;
        font-family: sans-serif;
        font-size: 13px;
        
        line-height: 1.5;
        color:  rgb(115, 106, 170);
    }
   
}
.social-media-icons {
    display: flex;
    gap:15px;
    a{
    color: white;
    font-size: 20px;
    &:hover{
        cursor: pointer;
        color: blue;
    }
    }
}
.footer-title{
    display: flex;
    flex-direction: column;
    gap: 6px;
   
    li{
        list-style: none;
        color: white;
        font-family: sans-serif;
    }
}
    .content-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:white;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bold;
    h3{
       letter-spacing: 0.5px;
        font-weight: 800;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 14px;
        font-size: 12px;
        
    }
    li:hover{
            color:blue;
            cursor: pointer;
            
        }
}
.content-3{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
     h3{
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        font-weight: 800;
        font-family: sans-serif;
        text-transform: uppercase;
     }
     ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
     }
     ul li{
        display: flex;
        flex-direction: row;
        gap: 12px;
     }
     .para-1{
        font-family: sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color:  rgb(115, 106, 170);
     }
     .para-2{
        font-family: sans-serif;
        font-size: 12px;
       font-weight: 700;

     }


}
.call-icon {
    color: blue;
    font-size: 20px;
}
.email-icon{
    color: blue;
    font-size: 20px;
}
.content-4{
    display: flex;
    flex-direction: column;
    gap: 12px;
    h3{
        color: white;
        font-family: sans-serif;
        font-size: 11px;
        font-weight: 1000;
        letter-spacing: 1px;
    }
    p{
       font-size: 10px;
       font-family: sans-serif;
       color: rgb(115, 106, 170);
    }
    button{
        width: 100px;
        height: 27px;
        border-radius: 7px;
        font-size: 11px;
        font-family: sans-serif;
        font-weight: 600;
        color: white;
        background-color: rgb(115, 106, 170); 
    }
}
.hor-line{
   border-top: 2px solid rgb(115, 106, 170);
   margin-top: 12px;
   padding-top: 20px;
   padding-bottom: 20px;
   
   p{
    text-align: center;
   color:rgb(115, 106, 170) ;
   font-size: 9px;
   font-family: sans-serif;
   font-weight: 900;
   }
   
}