*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.home-title ul{
    list-style: none;
    display: flex;
    gap: 10px;

    .shield-icon{
        color: blue;
        font-size: 2rem;
    }
    h2{
        padding-top: 4px;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: sans-serif;
    }
}

.home-nav{
 height: 80px;
 border-bottom: 1px solid #ccc;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

}
.home-log-btn{
    display: flex;
    gap: 10px;
}
.home-log-btn .home-sign{
    font-size: 1em;
    font-family: sans-serif;
    border: none;
    background-color: white;
    &:hover{
        cursor: pointer;
        color: blue;
    }
    
}
.home-log-btn .home-regist{
    font-size: 1em;
    font-family: sans-serif;
    padding:8px 15px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid blue;
    &:hover{
        cursor: pointer;
        background-color:  rgb(46, 46, 221);
   };
    }
.home-body-text{
    

    h1{
        font-size: 3rem;
        font-weight: bold;
        font-family: sans-serif;
    }
    h1:nth-child(2),
    h1:nth-child(3){
        color: blue;
    }
    p{
        margin-top: 20px;
        font-size: 1.1rem;
        color: grey;
        font-family: sans-serif;
    }
}
.home-body1{
    margin-left: 120px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .home-button{
        display: flex;
        gap: 16px;
        ;
    }

}  



.home-button .home-btn1{
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bolder;
}  
.home-button .home-btn2{
    padding:8px 17px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgb(188, 192, 225);
    font-family: sans-serif;
    font-weight: bolder;

}

