*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main-reg{
   background-color: rgb(43, 41, 41);
    height: 120vh;
}

.reg-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    i{
        font-size: 40px;
        color: white;
        border: 1px solid;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 8px 10px;
        padding-bottom: 5px;
        background-color: blue;
    }
    h2{
        font-size:35px;
        color:black;
        font-family: sans-serif;
    }
    h4{
        color: rgb(6, 5, 5);
        font-family: sans-serif;
        font-size: 14px;
        opacity: 0.7;
        font-weight:100;
    }
 
}
.reg-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.reg-form{
    display: flex;
    flex-direction: column;
   
    border: 2px solid white;
    border-radius: 10px;
    width:450px;
    height: 550px;
    margin-top: 30px;
    gap: 20px;
   padding: 20px ;
   
    background-color: white;
    section{
        display: flex;
        flex-direction: column;
        justify-self: center;
        font-size: 16px;
        gap: 7px;
        font-family: sans-serif;
        font-weight: 600;
       padding-left: 15px;
      padding-right: 15px;
        
    }
    input[type="text"],input[type="password"]{
        width: 100%;
        height: 50px;
        border:1px solid rgb(229, 222, 222);
        border-radius: 10px;
        padding-left: 30px;
        font-size: 16px;
        background-color: rgb(243, 243, 246);
        

       
        
        &:focus{
            outline: none;
            border: 3px solid blue;
        }
    }
    h5{
        padding-top: 20px;
        text-align: center;
        color: rgb(176, 176, 178);
         

    }
}
    input[type="password"]{
        letter-spacing: 2px;
        font-size: 20px;
      
    }

.btn-regnow{
    
     width: 92%;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(84, 84, 239);
    color:white;
    font-size: 16px;
    font-weight: 600;
     cursor: pointer;
     margin-left: 17px;
     border: 1px solid  rgb(229, 222, 222);
     &:hover{
        background-color:rgb(46, 46, 221) ;
     }
    
}





